<!--
original index page - decided to use articles page as only page of app
 -->

<div id="main-content">


<h1>Scraped News!</h1>

<form action="/articles">
	<button>See articles</button>
</form>

</div>